PORT=
FRONTEND_URL=
DB_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

SALT_OR_ROUNDS=
ENCRYPTION_KEY=

ACCESS_TOKEN_SIGNATURE_CANDIDATE=
REFRESH_TOKEN_SIGNATURE_CANDIDATE=
ACCESS_TOKEN_SIGNATURE_EMPLOYER=
REFRESH_TOKEN_SIGNATURE_EMPLOYER=
ACCESS_TOKEN_SIGNATURE_ADMIN=
REFRESH_TOKEN_SIGNATURE_ADMIN=

USER_EMAIL=
APP_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

S3_BUCKET_NAME=
Region=
AccessKeyId=
SecretAccessKey=
